target/
!**/src/main/**/target/
!**/src/test/**/target/


.mvn
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static
src/main/resources/templates
src/main/resources/ml_data

.DS_Store